/*reset*/
/*reset*/
@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
html,body,footer{
    font: 16px 'Open Sans',sans-serif;/*root*/
    margin: 0;
}
/*body{
    max-width: 900px;
    margin: 50px auto 20px;
    background: #eee;
}*/
h1,
h2,
p,
ul,
li,
a{
    margin: 0;
    font-weight: 100;
    /*list-style-type: none;*/
}
a{
    text-decoration: none;
    color: #222;
}
*{
    box-sizing: border-box;
}
/*theme*/
:root{
    --color-default: #ccc;
    --color-primary: rgba(53, 152, 219,1.0);
  /*  --color-success: rgba(39, 174, 96,1.0);
    --color-warning: rgba(192, 57, 43,1.0);*/
}
header h1{
   /* font-family: 'Zhi Mang Xing', cursive;*/
    line-height: 100px;
    text-align: center;
    font-size: 2.8rem;
}
header h1::before{
    content: '\2605';
    color: rgba(240, 73, 56,1.0);
}
header h1, nav h2, section h2{
    font-family: 'Zhi Mang Xing';
}
section h2, nav h2{
    position: sticky;
    top: 0;
    left: 0;
}
/*section h2:after, nav h2:after{
    content: '\203A';
    padding: 5px;
}*/
nav ol{
    margin: 20px;
}
section p img{
    display: block;
    max-width: 100%;
}
img{
    width: 900px;
    height: 450px;
    max-width: 100%;
}
nav h2, section h2{
    line-height: 45px;
    background-color: var(--color-primary);
    color: #fafafa;
   /* font-family: 'Open Sans',sans-serif;
    box-shadow: 0 3px 0 #cccccc ;
    padding: 5px;*/
}
section h2::after, nav h2::after{
    content: '\203A';
    padding: 5px;
}
section h2, section p, nav h2{
    line-height: 1.5rem;
    margin: 0 10px 20px 10px;
}
h2{
    padding: 5px;
}
main{
    background-color: rgba(255, 255, 255,0.8);
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
footer{
    text-align: center;
   /* background-color: rgba(255, 255, 255,0.8);*/
}
/*arrière-plan*/
html{
    background: url(../asset/fond.png) no-repeat fixed center -100px / cover;
}